/** {*/
/*outline: 1px solid red !important;*/
/*}*/

* {
    box-sizing: border-box;
    font-family: arial, sans-serif;
}

h1.title {
    background-color: #33BEBE;
    padding-top: 30px;
    padding-left: 10px;
    margin-bottom: 50px;
    text-transform: uppercase;
    color: white;
    font-weight: 100;
    font-size: 48px;
    letter-spacing: 3px;
}

.app {
    display: flex;
}

.screenshot {
    max-width: 460px;
    margin-right: 30px;
}

.description {
    max-width: 705px;
    color: #7C8B88;
    font-size: 24px;
}
